Repository Necritto/tech-review-checker: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:code, lint:styles

.lintstagedrc:

{
    "**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}": "lint:code",
    "**/*.{css,scss,svelte}": "lint:styles"
}

chore: pnpm
  package.json
  pnpm-workspace.yaml
Due: none

feat: sidebar [wip]
  .eslintignore
  .husky/pre-commit
  .lintstagedrc
  astro.config.mjs
  global.d.ts
  package.json
  pnpm-lock.yaml
  src/app/layouts/Default/index.ts
  src/app/layouts/Default/ui/DefaultLayout.astro
  src/pages/exercises.astro
  src/pages/results.astro
  src/shared/fonts/HubotSans-Bold.woff2
  src/shared/fonts/HubotSans-Light.woff2
  src/shared/fonts/HubotSans-Medium.woff2
  src/shared/fonts/HubotSans-Regular.woff2
  src/shared/fonts/HubotSans-SemiBold.woff2
  src/shared/layouts/Layout.astro
  src/shared/styles/_fonts.scss
  src/shared/styles/_global.scss
  src/shared/styles/_vars.scss
  src/shared/styles/global.css
  src/shared/styles/index.scss
  src/shared/styles/mixins/_hover.scss
  src/shared/styles/mixins/_increase-clickable-field.scss
  src/shared/styles/mixins/_index.scss
  src/widgets/Sidebar/index.ts
  src/widgets/Sidebar/model/constants.ts
  src/widgets/Sidebar/ui/Sidebar.svelte
  src/widgets/Sidebar/ui/styles.scss
  tsconfig.json
Due: lint:code, lint:styles

refactor: header [wip]
  .eslintignore
  astro.config.mjs
  global.d.ts
  package.json
  src/pages/exercises.astro
  src/pages/index.astro
  src/pages/results.astro
  src/shared/layouts/Default/index.ts
  src/shared/layouts/Default/ui/DefaultLayout.astro
  src/shared/model/constants.ts
  src/shared/store/task.svelte.ts
  src/shared/styles/_vars.scss
  src/shared/styles/mixins/_index.scss
  src/widgets/Header/index.ts
  src/widgets/Header/ui/Header.svelte
  src/widgets/Header/ui/styles.scss
  src/widgets/Sidebar/ui/Sidebar.svelte
  src/widgets/Sidebar/ui/styles.scss
  tsconfig.json
Due: lint:code, lint:styles

chore: resolve conflicts
  src/entities/Question/index.ts
  src/entities/Question/ui/Question.svelte
  src/pages/index.astro
  src/shared/styles/_global.scss
  src/shared/styles/_vars.scss
  src/shared/styles/mixins/_increase-clickable-field.scss
  src/shared/ui/Collapse/index.ts
  src/shared/ui/Collapse/ui/Collapse.svelte
  src/shared/ui/Collapse/ui/styles.scss
  src/shared/ui/Plate/index.ts
  src/shared/ui/Plate/ui/Plate.svelte
  src/shared/ui/Plate/ui/styles.scss
  src/widgets/Header/ui/Header.svelte
  src/widgets/Header/ui/styles.scss
Due: lint:code, lint:styles

feat: connect to firebase
  .env.example
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/local-interview-object.json
  src/env.d.ts
  src/pages/index.astro
  src/shared/api/firebase.ts
  src/shared/model/exceptions.ts
  src/shared/model/types.ts
  src/shared/styles/_global.scss
Due: lint:code, lint:styles

feat: providers
  package.json
  pnpm-lock.yaml
  src/app/layouts/default/index.tsx
  src/app/providers/query.tsx
  src/app/providers/router.tsx
  src/main.tsx
  src/shared/api/http-service.ts
  src/shared/api/query-client.ts
Due: lint:code

feat: sidebar
  index.html
  package.json
  pnpm-lock.yaml
  src/app/layouts/default/index.tsx
  src/app/layouts/default/styles.module.scss
  src/app/router/index.ts
  src/main.tsx
  src/shared/lib/constants/routes.tsx
  src/shared/styles/_global.scss
  src/shared/styles/_vars.scss
  src/shared/styles/index.scss
  src/shared/styles/mixins/index.scss
  src/widgets/sidebar/index.ts
  src/widgets/sidebar/ui/index.tsx
  src/widgets/sidebar/ui/styles.module.scss
  vite.config.ts
Due: lint:code, lint:styles

chore: update build config
  vite.config.ts
Due: lint:code

feat: subjects
  src/pages/questions/ui/index.tsx
  src/pages/questions/ui/particles/button/index.tsx
  src/pages/questions/ui/particles/button/styles.module.scss
  src/pages/questions/ui/particles/subject/index.tsx
  src/pages/questions/ui/particles/subject/styles.module.scss
  src/pages/questions/ui/styles.module.scss
  src/shared/styles/_global.scss
  src/shared/types/index.ts
  src/shared/ui/collapse/index.ts
  src/shared/ui/collapse/ui/index.tsx
  src/shared/ui/collapse/ui/styles.module.scss
  src/shared/ui/plate/index.ts
  src/shared/ui/plate/ui/index.tsx
  src/shared/ui/plate/ui/styles.module.scss
  src/widgets/sidebar/ui/index.tsx
Due: lint:code, lint:styles

feat: answers & questions
  package.json
  pnpm-lock.yaml
  src/app/layouts/default/index.tsx
  src/entities/question/index.ts
  src/entities/question/ui/index.tsx
  src/entities/question/ui/styles.module.scss
  src/pages/questions/ui/particles/subject/index.tsx
  src/shared/styles/_global.scss
  src/shared/styles/_vars.scss
  src/shared/types/index.ts
  src/shared/ui/drawer/index.ts
  src/shared/ui/drawer/model/drawer-service.ts
  src/shared/ui/drawer/ui/index.tsx
  src/shared/ui/drawer/ui/styles.module.scss
  src/shared/ui/list/index.ts
  src/shared/ui/list/ui/index.tsx
  src/shared/ui/list/ui/styles.module.scss
  src/shared/ui/tag/index.ts
  src/shared/ui/tag/ui/index.tsx
  src/shared/ui/tag/ui/styles.module.scss
  tsconfig.app.json
Due: lint:code, lint:styles

feat: exercises
  src/entities/question/ui/index.tsx
  src/pages/exercises/ui/index.tsx
  src/pages/exercises/ui/styles.module.scss
  src/pages/questions/ui/index.tsx
  src/shared/lib/constants/templates.ts
  src/shared/static/exercises.ts
  src/shared/static/index.ts
  src/shared/static/templates/exercises/redux/middleware.md
  src/shared/static/templates/exercises/redux/reducer.md
  src/shared/static/templates/exercises/redux/rtk.md
  src/shared/types/index.ts
  src/widgets/subject/index.ts
  src/widgets/subject/ui/index.tsx
  src/widgets/subject/ui/particles/button/index.tsx
  src/widgets/subject/ui/particles/button/styles.module.scss
  src/widgets/subject/ui/styles.module.scss
Due: lint:code, lint:styles

feat: code md
  package.json
  pnpm-lock.yaml
  src/app/layouts/default/index.tsx
  src/app/providers/query.tsx
  src/shared/lib/copy-to-clipboard.ts
  src/shared/ui/collapse/ui/index.tsx
  src/shared/ui/markdown-renderer/ui/index.tsx
  src/shared/ui/markdown-renderer/ui/particles/code/index.tsx
  src/shared/ui/markdown-renderer/ui/particles/code/styles.module.scss
  src/shared/ui/markdown-renderer/ui/particles/paragraph/index.tsx
  src/shared/ui/plate/ui/index.tsx
Due: lint:code, lint:styles

fix: build
  src/entities/question/ui/index.tsx
  vite.config.ts
Due: lint:code

fix: render copy button & white space
  src/entities/question/ui/index.tsx
  src/shared/ui/markdown-renderer/ui/index.tsx
  src/shared/ui/markdown-renderer/ui/particles/code/index.tsx
  src/shared/ui/markdown-renderer/ui/particles/code/styles.module.scss
Due: lint:code, lint:styles

fix: correct code copying
  src/shared/ui/markdown-renderer/lib/extract-text.ts
  src/shared/ui/markdown-renderer/ui/index.tsx
  src/shared/ui/markdown-renderer/ui/particles/code/index.tsx
Due: lint:code

chore: md files markup
  src/shared/static/templates/exercises/common/cicd.md
  src/shared/static/templates/exercises/common/docker.md
  src/shared/static/templates/exercises/common/mf.md
  src/shared/static/templates/exercises/common/webpack.md
  src/shared/static/templates/exercises/css/placeholder.md
  src/shared/static/templates/exercises/js/chaining.md
  src/shared/static/templates/exercises/js/context.md
  src/shared/static/templates/exercises/js/descriptors.md
  src/shared/static/templates/exercises/js/immutable.md
  src/shared/static/templates/exercises/react/form.md
  src/shared/static/templates/exercises/react/input.md
  src/shared/ui/markdown-renderer/ui/particles/code/styles.module.scss
Due: lint:styles

chore: updating js exercises
  src/shared/static/exercises.ts
  src/shared/static/templates/exercises/js/async-catch.md
  src/shared/static/templates/exercises/js/borrowing.md
  src/shared/static/templates/exercises/js/cache.md
  src/shared/static/templates/exercises/js/chaining.md
  src/shared/static/templates/exercises/js/click-once.md
  src/shared/static/templates/exercises/js/context.md
  src/shared/static/templates/exercises/js/descriptors.md
  src/shared/static/templates/exercises/js/error-catching-chain.md
  src/shared/static/templates/exercises/js/event-loop.md
  src/shared/static/templates/exercises/js/immutable.md
  src/shared/static/templates/exercises/js/promises.md
  src/shared/static/templates/exercises/js/prototype.md
  src/shared/static/templates/exercises/js/typeof.md
Due: lint:code

chore: updating html exercises
  src/shared/static/exercises.ts
  src/shared/static/templates/exercises/html/ally.md
  src/shared/static/templates/exercises/html/form.md
  src/shared/static/templates/exercises/html/interact.md
  src/shared/static/templates/exercises/html/interactive.md
  src/shared/static/templates/exercises/html/select.md
  src/shared/static/templates/exercises/html/semantic.md
  src/shared/static/templates/exercises/html/table.md
Due: lint:code

Exercises (#18)
  src/shared/static/exercises.ts
  src/shared/static/templates/exercises/html/ally.md
  src/shared/static/templates/exercises/html/form.md
  src/shared/static/templates/exercises/html/interact.md
  src/shared/static/templates/exercises/html/interactive.md
  src/shared/static/templates/exercises/html/select.md
  src/shared/static/templates/exercises/html/semantic.md
  src/shared/static/templates/exercises/html/table.md
  src/shared/static/templates/exercises/js/async-catch.md
  src/shared/static/templates/exercises/js/borrowing.md
  src/shared/static/templates/exercises/js/cache.md
  src/shared/static/templates/exercises/js/chaining.md
  src/shared/static/templates/exercises/js/click-once.md
  src/shared/static/templates/exercises/js/context.md
  src/shared/static/templates/exercises/js/descriptors.md
  src/shared/static/templates/exercises/js/error-catching-chain.md
  src/shared/static/templates/exercises/js/event-loop.md
  src/shared/static/templates/exercises/js/immutable.md
  src/shared/static/templates/exercises/js/promises.md
  src/shared/static/templates/exercises/js/prototype.md
  src/shared/static/templates/exercises/js/typeof.md
Due: lint:code

chore: js/ts exercises
  src/shared/static/exercises.ts
  src/shared/static/templates/exercises/js/click-once.md
  src/shared/static/templates/exercises/js/code-review.md
  src/shared/static/templates/exercises/js/lazy-chain.md
  src/shared/static/templates/exercises/js/pipe.md
  src/shared/static/templates/exercises/js/race-with-timeout.md
  src/shared/static/templates/exercises/ts/typing.md
Due: lint:code
